.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid transparent;
  backdrop-filter: blur(10px);
  z-index: 50;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menuButton {
  color: #ccc;
  cursor: pointer;
}

.menuButton:hover {
  color: #fff;
}

.menu {
  position: absolute;
  font-size: 30px;
  top: 100%;
  left: 0;
  right: 0;
  background: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

.menuItem {
  color: #ccc;
  margin: 0.5rem 0;
  text-align: center;
}

.menuItem:hover {
  color: #fff;
}

.backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  z-index: 40;
}

.homeButton {
  color: #ccc;
  text-decoration: none;
  margin-right: 1rem;
  z-index: 100;
}

.activeTab {
  font-weight: bold;
}