.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  background: black;
}

.navigation {
  flex: 0 1 20%;
}

.dosTabs {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}