@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
  }
}

.lucide {
  color: white;
  width: 56px;
  height: 56px;
  stroke-width: 1px;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
  border: 3px solid #0a0a0a;
}

/* Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #333 #0a0a0a;
}

/* For IE and Edge */
body {
  scrollbar-face-color: #999;
  scrollbar-track-color: #0a0a0a;
}

body {
  color: white;
}