.container {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: black;
  overflow-y: auto;
  min-height: 100vh;
}

.navigation {
  flex: 0 1 20%;
}

.dosTabs {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}