.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.navigation {
  flex: 0 1 20%;
}

.dosTabs {
  flex: 1 1 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}